header,
nav,
main,
footer,
aside {
  display: block;
}

* {
  box-sizing: border-box;
}

header {
  background-color: black;
  height: 200px;
}

header p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: gray;
  font-size: 5vw;
}

.responsive {
  width: 100%;
  height: auto;
}

footer {
  text-align: center;
  bottom: 0%;
  font-size: 1vw;
  color: azure;
  position: fixed;
}

body {
  background-color: #303030;
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
}

.footer_contain {
  bottom: 0%;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 100%;
}

.footer_content {
  color: azure;
  font-size: 1vw;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
}

h4 {
  color: azure;
  text-align: center;
}

nav {
  font-size: 2vw;
  color: #CCCCCC;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5vw;
}

nav a:link {
  color: #FFFFFF;
}

nav a:visited {
  color: darkgray;
}

nav a:hover {
  color: #CCCCCC;
}

.title {
  text-align: center;
  color: azure;
  font-size: 3vw;
}

div img {
  background-position: center;
  background-color: honeydew;
  height: 20vw;
  width: 20vw;
}

.change-chapter {
  text-align: center;
}


.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}

#wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.novel-content {
  font-size: 2vw;
}

.dropbtn {
  background-color: gray;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: darkgray;
}

@media only screen and (max-width:1024px) {

  body {
    margin: 0px;
    padding: 0px;
    background-image: none;
  }

  #wrapper {
    margin: 0px;
    width: auto;
    min-width: 0;
    box-shadow: none;
  }

  h1 {
    margin: 0;
  }

  nav {
    float: none;
    width: auto;
    padding-top: 0.01vw;
    padding-bottom: 0.01vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  nav ul {
    display: inline-block;
  }

  nav a {
    padding-right: 2vw;
  }

  main {
    padding: 1vw;
    margin-left: 0px;
    font-size: 8vw;
  }

  footer {
    margin: 0;
  }
}

@media only all and (max-width: 768px) {


  h1 {
    height: 100%;
    font-size: 1.5vw;
    padding-left: 0.2vw;
  }

  nav {
    padding: 0;
  }

  nav a {
    display: block;
    padding: 0.2vw;
    font-size: 1.1vw;
    border-bottom: 1px;
    border-bottom-color: #330000;
    padding: 0vw;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav li {
    display: block;
    margin: 0;
    padding: 0;
  }

  main {
    padding-top: .1vw;
    padding-right: 0.6vw;
    padding-bottom: 0.1vw;
    padding-left: 0.4vw;
  }

  footer {
    padding: 0;
  }

  #mobile {
    display: inline;
  }

  #desktop {
    display: none;
  }

}